@model QuizSystem.Web.Models.ManageUserViewModel

<div class="form-container">
    <h2>Change Password</h2>
    @Html.ValidationSummary()
    <form id="change-password-form" method="post" action="/Account/Manage">
        <hr />
        @Html.AntiForgeryToken()
        <div class="form-tab">
            <label for="OldPassword">Old Password</label>
             @Html.ValidationField(x => x.OldPassword, "input", new { type = "password" })
        </div>
        <div class="form-tab">
            <label for="NewPassword">New Password</label>
            @Html.ValidationField(x => x.NewPassword, "input", new { type = "password" })
        </div>
        <div class="form-tab">
            <label for="ConfirmPassword">Confirm Password</label>
            @Html.ValidationField(x => x.ConfirmPassword, "input", new { type = "password" })
        </div>
        <hr />
        <input type="submit" class="accept-btn" value="Change Password" />
    </form>
</div>
